<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ siteName }}</title>


		{% set siteSettings = craft.globalSets().handle('siteInstellingen').one() %}

		{% if siteSettings and siteSettings.favicons|length %}
			{% set favicons = siteSettings.favicons.one() %}
			<link rel="icon" type="{{ favicons.mimeType }}" href="{{ favicons.url }}">
		{% endif %}
		<link rel="stylesheet" href="{{ url('assets/css/styles.css') }}">
		<link rel="stylesheet" href="{{ url('assets/css/layout.css') }}">
		<link rel="stylesheet" href="{{ url('assets/css/partials.css') }}">
		<link rel="stylesheet" href="{{ url('assets/css/fonts.css') }}">
		<link
		rel="stylesheet" href="{{ url('assets/css/reset.css') }}">

		{# Optional per-page styles #}
		{% block pageStyles %}{% endblock %}

	</head>
	<body>
		{% include 'partials/_header.twig' %}

		<main>
			{% block content %}{% endblock %}
		</main>

		{% include "partials/_footer.twig" %}
	</body>
</html>
